=render 'common/errors', model: @comment
= simple_form_for [@movie, @comment ] do |f|
  %form
    .form-group
    = f.input :body, error: false, required: false
    .form-group
      =f.button :submit, class: "btn btn-primary"
