- if model.errors.any?
  %h4.alert-heading
    = pluralize(model.errors.count, 'error')
    prohibited this article from being save:
  %ul
    - model.errors.full_messages.each do |msg|
      %li= msg
